.card {
    width: 10vw; 
    height: 14vw;
    max-width: 150px;
    max-height: 210px;
    min-width: 80px;
    min-height: 112px;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
    background: none;
}
/* Proporção melhorada e com visual mais bonito */

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.selected-card {
    background: none;
    transform: translateY(-28px);
    margin: 0px 10px;
    box-shadow: 4px 22px 10px rgba(0, 0, 0, 0.7);
}

.selected-card:hover {
    transform: translateY(-6px) scale(1.02);
}