li {
    color: white;
}

h2 {
    margin: 0;
    width: auto;
    font-size: 2.3em;
}

.sidebar-header {
    width: 95%;
    padding: 3px;
    margin: 10px;
    background-color: rgba(65, 105, 225, 0.717);
    border-radius: 13px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
}

.sidebar-container {
    background-color: rgb(43, 42, 42);
    height: 100%;
    width: 22vw;
    max-width: 458px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.score-goal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: rgba(84, 103, 161, 0.652);
    width: 95%;
    border-radius: 13px;
    padding: 10px 0px;
    margin-bottom: 10px;
}

.score-goal p,
.score-goal h3 {
    margin: 0;
}

.score-goal h3 {
    color: rgb(224, 44, 44);
    font-size: 1.5em;
}

.score-goal-info {
    display: flex;
    width: 47%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 13px;
    background-color: rgba(42, 41, 41, 0.846);
}

.one-real {
    width: 95px;
    height: 95px;
    margin-right: 10px;
}

.current-score {
    background-color: rgba(74, 74, 76, 0.748);
    width: 95%;
    border-radius: 13px;
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.current-score-info {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
}

.current-score-info p {
    margin: 0px;
    font-size: 1.2em;
}

.current-score-value {
    background-color: rgba(146, 150, 163, 0.609);
    border-radius: 8px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
}

.current-score-value h3 {
    margin: 0px;
}

.combinations-container {
    background-color: rgba(35, 35, 53, 0.841);
    width: 95%;
    border-radius: 13px;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.chips-multiplier {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.chips-multiplier h2 {
    font-size: 3.0em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}

.chips-value {
    background-color: rgb(45, 93, 189);
    width: 32%;
    display: flex;
    justify-content: flex-end;
    padding-right: 12px;
    align-items: center;
    border-radius: 8px;
}

.chips-value h3,
.multiplier-value h3 {
    font-size: 2.5em;
    margin: 0px;
}

.multiplier-value {
    background-color: rgb(189, 45, 45);
    width: 32%;
    display: flex;
    justify-content: flex-start;
    padding-left: 12px;
    align-items: center;
    border-radius: 8px;
}

.combinations-header {
    background-color: rgba(35, 35, 53, 0.841);
    width: 95%;
    border-radius: 13px;
    padding: 10px 0px;
    display: flex;
    margin: 0px;
    justify-content: center;
}

.combinations-header h3 {
    margin: 0px;
    font-size: 1.6em;
}

@keyframes wiggle {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    15% {
        transform: translateY(0) rotate(-6deg);
    }

    30% {
        transform: translateY(0) rotate(6deg);
    }

    45% {
        transform: translateY(0) rotate(-4deg);
    }

    60% {
        transform: translateY(0) rotate(4deg);
    }

    75% {
        transform: translateY(0) rotate(-1deg);
    }

    100% {
        transform: translateY(0) rotate(0deg);
    }
}


.info-highlight {
    opacity: 1;
    transform: translateY(0);
    animation: wiggle 0.6s ease-in-out;
}

.info-highlight-negative {
    opacity: 0.7;
    transform: translateY(0) rotate(0);
    animation: wiggle 0.6s ease-in-out;
    color: #ff3b30;
    background-color: rgba(255, 59, 48, 0.2);
}


.game-info {
    background-color: rgba(48, 48, 59, 0.841);
    width: 95%;
    border-radius: 13px;
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hands-info, .discards-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(64, 64, 104, 0.841);
    width: 40%;
    padding: 5px 0px;
    border-radius: 10px;
}

.hands-info h3, .discards-info h3 {
    margin: 0px;
}

.hands-info h2, .discards-info h2 {
    background-color: rgb(117, 140, 183);
    padding: 5px 30%;
    border-radius: 12px;
    margin-bottom: 2px;
}